[submodule "dep/glm"]
	path = dep/glm
	url = https://github.com/g-truc/glm.git
[submodule "svklib/dep/VulkanMemoryAllocator"]
	path = svklib/dep/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "svklib/dep/glfw"]
	path = svklib/dep/glfw
	url = https://github.com/glfw/glfw.git
[submodule "svklib/dep/glslang"]
	path = svklib/dep/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "stb"]
	path = stb
	url = https://github.com/nothings/stb
[submodule "svklib/dep/stb"]
	path = svklib/dep/stb
	url = https://github.com/nothings/stb
[submodule "svklib/dep/stp"]
	path = svklib/dep/stp
	url = https://github.com/rottendurian/SimpleThreadPool.git
