[submodule "stb"]
	path = stb
	url = https://github.com/nothings/stb
[submodule "svklib/dep/stb"]
	path = svklib/dep/stb
	url = https://github.com/nothings/stb
[submodule "svklib/dep/stp"]
	path = svklib/dep/stp
	url = https://github.com/rottendurian/SimpleThreadPool.git
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "svklib/dep/vma"]
	path = svklib/dep/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "dep/glm"]
	path = dep/glm
	url = https://github.com/g-truc/glm.git
